<div class="svg-container">
<h1 id="left">SIT</h1>

<svg id="intro-heart" xmlns="http://www.w3.org/2000/svg" viewBox="-22 -10 510 500">
    


    
    <a href="#selection1">
    <path class="draw-heart" d="M447.71,803.27c-7.25-21.48-24.95-35.32-39.53-30.92s-20.52,25.37-13.27,46.84,24.95,35.32,39.53,30.91S455,824.74,447.71,803.27Z" transform="translate(-253.85 -598.74)"></path>

    <path class="draw-heart" d="M487,798c15.3-4.65,21.56-26.72,14-49.32s-26.16-37.14-41.46-32.48-21.56,26.72-14,49.31S471.66,802.62,487,798Z" transform="translate(-253.85 -598.74)"></path>

    <path class="draw-heart" d="M533.39,796.49c16.13,5.15,34.9-8.48,41.92-30.44s-0.37-44-16.51-49.12-34.91,8.48-41.94,30.44S517.25,791.34,533.39,796.49Z" transform="translate(-253.85 -598.74)"></path>

    <path class="draw-heart" d="M611.49,773.87c-14.59-4.67-31.87,8.59-38.59,29.62s-0.32,41.86,14.27,46.52,31.88-8.6,38.59-29.63S626.09,778.52,611.49,773.87Z" transform="translate(-253.85 -598.74)"></path>

    <path class="draw-heart" d="M511.16,805H508s-62.44,9.12-62.13,81c-0.19,42.22,34.93,23.47,34.93,23.47s14.84-15.32,27.21-15.32l3.14-.47c12.37,0,27.22,14.84,27.22,14.84S573.51,928.25,573.3,886C573.6,814.12,511.16,805,511.16,805Z" transform="translate(-253.85 -598.74)"></path>

    <path class="draw-heart main" d="M713.85,631.57C616.16,542,504.26,664,504.26,664h-0.83S391.53,542,293.85,631.57s-12.2,296.13,209.59,385.67l0.83,1C726,928.69,811.51,721.11,713.85,631.57Zm-197,115.8c7-22,25.8-35.6,41.94-30.44s23.52,27.14,16.51,49.12-25.79,35.6-41.92,30.44S509.85,769.35,516.86,747.38ZM459.5,716.16c15.3-4.65,33.88,9.89,41.46,32.48s1.32,44.67-14,49.32-33.87-9.89-41.47-32.49S444.2,720.81,459.5,716.16ZM434.45,850.1c-14.59,4.4-32.28-9.43-39.53-30.91s-1.31-42.44,13.27-46.84,32.28,9.44,39.53,30.92S449,845.72,434.45,850.1Zm103.94,58.39s-14.85-14.92-27.22-14.92l-3.14.33c-12.37,0-27.21,15-27.21,15S445.7,928.25,445.89,886c-0.3-71.91,62.13-81,62.13-81h3.14s62.43,9.08,62.14,81C573.51,928.21,538.38,908.49,538.38,908.49Zm87.37-88.11c-6.71,21-24,34.29-38.59,29.63s-21-25.49-14.27-46.52,24-34.3,38.59-29.62S632.48,799.35,625.76,820.38Z" transform="translate(-253.85 -598.74)"></path>

    <text x="185" y="370" fill=#37B7B5 style="font-size:3rem; font-family:'Open Sans Condensed';">CLICK ME</text></a>

</svg>

<h1 id="right">STAY</h1>
</div>