<div class="bg-text" id="bg-two">looking for someone to...</div>

<div class="ui two column middle aligned stackable grid" id="lookingfor-grid">
  <div class="center aligned column">
    <label class="stay-select">
      <input type="radio" name="is_stay_post" ng-model="is_stay_post" value=0 />
      <h2 class="ui inverted huge button selection" href="#petowner">SIT</h2>
      <p class="stay-select secondary-font">PET SIT ONLY</p>
    </label>
  </div>

  <div class="ui inverted vertical divider">
    <div id="or">Or</div>
  </div>

  <div class="center aligned column">
    <label class="stay-select">
      <input type="radio" name="is_stay_post" ng-model="is_stay_post" value=1 />
       <h2 class="ui inverted huge button selection" href="#petowner">STAY</h2>
       <p class="stay-select secondary-font">PET & HOUSE SIT</p>
  </label>
  </div>
</div>

