<div class="bg-text" id="bg-one">I am a...</div>
<div class="ui two column middle aligned stackable grid" id="ownersitter-grid">
  <div class="center aligned column">
    <a class="ui inverted huge button selection" href="#lookingfor">PET OWNER</a>
  </div>
  <div class="ui inverted vertical divider">
    <div id="or">Or</div>
  </div>
  <div class="center aligned column">
    <a class="ui inverted huge button selection" href="#viewpostings">PET SITTER</a>
  </div>
</div>