<h2 class="section-title">Greetings, Animal Whisperer!</h2>
<!-- <span class="fancy">More about you...</span> -->
    <div class="ui container">
      <!-- <div class="ui inverted large form" id="owner-form"> -->
        <div class="two fields">
          <div class="required field">
            <label class="white">Your Name</label>
            <input type="text" class="pet-owner" name="name" ng-model="name" placeholder="Wielder of Snacks, Snuggle Monster, etc." required/>
          </div>
          <div class="required field">
            <label class="white">Email</label>
            <input type="text" class="pet-owner" name="email" ng-model="email" placeholder="ilovemypet@alltimes.com" required/>
          </div>
        </div>
        <div class="four fields">
          <div class="seven wide field">
            <label class="white">Street Address</label>
            <input type="text" class="pet-owner" name="street_address" ng-model="street_address" placeholder="221B Baker Street">
          </div>
          <div class="required four wide field">
            <label class="white">City</label>
            <input type="text" class="pet-owner" name="city" ng-model="city" placeholder="Rivendell" required="">
          </div>
          <div class="required two wide field">
            <label class="white">State</label>
            <input type="text" class="pet-owner" name="state" ng-model="state" placeholder="NY" required>
          </div>
          <div class="three wide field">
            <label class="white">Zip Code</label>
            <input type="text" class="pet-owner" name="zipcode" ng-model="zipcode" placeholder="10001">
          </div>
        </div>
      <!-- </div> -->
    </div>