<div class="pet-panel">
  <label class="pet-select">
    <input type="radio" name="fb" value="small" />
    <%= render 'puppy' %>
    <h2 class="pet-title secondary-font">DOG</h2>
  </label>
</div>

<div class="pet-panel">
  <label class="pet-select">
    <input type="radio" name="fb" value="small" />
    <%= render 'cat' %>
    <h2 class="pet-title secondary-font">CAT</h2>
  </label>
</div>

<div class="pet-panel">
  <label class="pet-select">
    <input type="radio" name="fb" value="small" />
    <%= render 'other' %>
    <h3 class="pet-title secondary-font">FURRY, FINNED, FEATHERED</h3>
  </label>
</div>

