<h2 class="section-title">SitStay Postings</h2>
  <div class="ui four stackable cards">
    <div class="card" ng-repeat="posting in postings">
      <div class="image posting-image">
        <div ng-if="posting.pet_type == 'dog'">
          <!-- Render the thumbnail -->
          <%= image_tag("puppy.svg") %>
        </div>
        <div ng-if="posting.pet_type == 'cat'">
          <!-- Render the thumbnail -->
          <%= image_tag("cat.svg") %>
        </div>
        <div ng-if="posting.pet_type == 'other'">
          <!-- Render the thumbnail -->
          <%= image_tag("other.svg") %>
        </div>
        <div class="comments"> {{ posting.comments }}</div>
      </div>
      <div class="content">
        <div class="header">{{ posting.name }}
        <a><i class="big remove circle icon" ng-click="removePosting(posting)"></i></a>
        </div>
        <div class="meta">
          <span class="emphasis">{{ posting.email }}</span>
          <p>{{posting.street_address}}, {{ posting.city }}, {{ posting.state }} {{ posting.zipcode }}</p>
        </div>
        <div class="description">
          <p>Pet sitter needed from <span class="emphasis">{{ posting.start_date }}</span> to <span class="emphasis">{{ posting.end_date }}<span class="emphasis"></p>

        </div>
      </div>
      <div class="extra content">
        <span class="emphasis" ng-if="posting.is_stay_post == 1">
          <a class="ui pink tag label">Sit & Stay</a>
        </span>
        <span class="emphasis" ng-if="posting.is_stay_post == 0">
          <a class="ui teal tag label">Sit Only</a>
        </span>
      </div>
    </div>
  </div>