<h2 class="section-title">SitStay Postings</h2>
  <div class="ui four stackable cards">
    <div class="card" ng-repeat="posting in postings">
      <div class="image">
        <div ng-if="posting.pet_type == 'dog'">
          <!-- Render the thumbnail -->
          <%= image_tag("puppy.svg") %>
        </div>
        <div ng-if="posting.pet_type == 'cat'">
          <!-- Render the thumbnail -->
          <%= image_tag("cat.svg") %>
        </div>
        <div ng-if="posting.pet_type == 'other'">
          <!-- Render the thumbnail -->
          <%= image_tag("other.svg") %>
        </div>

      </div>
      <div class="content">
        <div class="header">{{ posting.name }}
        <a><i class="big remove circle icon" ng-click="removePosting(posting)"></i></a>
        </div>
        <div class="meta">
          Email: {{ posting.email }}
          <p>Location: {{ posting.city }}, {{ posting.state }} </p>
        </div>
        <div class="description">
          <p>Pet sitter needed from <span>{{ posting.start_date }}</span> to <span>{{ posting.end_date }}<span></p>
        </div>
      </div>
      <div class="extra content">
        <span ng-if="posting.is_stay_post == 1">
          <a class="ui pink tag label">Sit & Stay</a>
        </span>
        <span ng-if="posting.is_stay_post == 0">
          <a class="ui teal tag label">Sit Only</a>
        </span>
      </div>
    </div>
  </div>