/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Gorditas:400,700);



html, body {
  transition: 1s all;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

a, a:hover {
  color: black;
}

.secondary-font {
  font-family: 'Open Sans Condensed';
  text-align: center;
  margin: 0 auto;
}

h2.section-title {
  text-align: center;
  font: 3.5rem 'Fredoka One';
  margin: 5px auto 20px;
}

h2.next.section-title {
  font-size: 2.25rem;
  color: #CD78A3;
  margin-top: 20px;
}


.page-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  /*overflow: scroll;*/
}


/**************************/
/* STYLING FOR EACH PANEL */
/**************************/

.panel {
  float: left;
  height: 100%;
  width: 100%;
  min-height: min-content;
}


#intro-bar{ 
  position: relative;
  background-color: #FEFAEC;
  background: -moz-linear-gradient(-55deg, #FEFAEC 45%, #FEFAEC 45%, #FDF4D4 45%); 
  background: -webkit-linear-gradient(-55deg, #FEFAEC 45%, #FEFAEC 45%, #FDF4D4 45%); 
  background: linear-gradient(125deg, #FEFAEC 45%, #FEFAEC 45%, #FDF4D4 45%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ownersitter{ 
  position: relative;
  background-color: #E9C3D6;
  background: -moz-linear-gradient(65deg, #E9C3D6 45%, #E9C3D6 45%, #E2B0C9 45%); 
  background: -webkit-linear-gradient(65deg, #E9C3D6 45%, #E9C3D6 45%, #E2B0C9 45%); 
  background: linear-gradient(-115deg, #E9C3D6 45%, #E9C3D6 45%, #E2B0C9 45%); 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ownersitter-grid{
  width: 100%;
}

#lookingfor{ 
  position: relative;
  background-color: #64D3CD;
  background: -moz-linear-gradient(-60deg, #92E0DC 40%, #92E0DC 40%, #64D3CD 40%); 
  background: -webkit-linear-gradient(-60deg, #92E0DC 40%, #92E0DC 40%, #64D3CD 40%); 
  background: linear-gradient(120deg, #92E0DC 40%, #92E0DC 40%, #64D3CD 40%);
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#lookingfor-grid{
  width: 100%;
}


#petowner{ 
  position: relative;
  color: white;
  background-color: #625772;
  background: -moz-linear-gradient(60deg, #625772 50%, #625772 50%, #716780 50%); 
  background: -webkit-linear-gradient(60deg, #625772 50%, #625772 50%, #716780 50%); 
  background: linear-gradient(-120deg, #625772 50%, #625772 50%, #716780 50%); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#petinfo{ 
  position: relative;
  background-color: #A9EEE6;
  background: -moz-linear-gradient(-50deg, #A9EEE6 50%, #A9EEE6 50%, #7EE6DA 50%); 
  background: -webkit-linear-gradient(-50deg, #A9EEE6 50%, #A9EEE6 50%, #7EE6DA 50%); 
  background: linear-gradient(130deg, #A9EEE6 50%, #A9EEE6 50%, #7EE6DA 50%);
  min-height: 100vh;
}

#sitstayinfo{ 
  position: relative;
  background-color: #FEFAEC;
  background: -moz-linear-gradient(55deg, #FEFAEC 40%, #FEFAEC 40%, #FDF4D4 40%); 
  background: -webkit-linear-gradient(-55deg, #FEFAEC 40%, #FEFAEC 40%, #FDF4D4 40%); 
  background: linear-gradient(-125deg, #FEFAEC 40%, #FEFAEC 40%, #FDF4D4 40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


#viewpostings{ 
  position: relative;
  background-color: #E9C3D6;
  background: -moz-linear-gradient(-65deg, #E9C3D6 45%, #E9C3D6 45%, #E2B0C9 45%); 
  background: -webkit-linear-gradient(-65deg, #E9C3D6 45%, #E9C3D6 45%, #E2B0C9 45%); 
  background: linear-gradient(115deg, #E9C3D6 45%, #E9C3D6 45%, #E2B0C9 45%); 
  padding: 1% 3% 1%;
  height: auto;
  min-height: min-content;
}


/*******************************/
/* STYLING FOR INTRO BAR PANEL */
/*******************************/



#intro-panel-one, #intro-panel-two, #intro-panel-three {
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  height: 100%;
}
#intro-panel-one {
  justify-content: flex-end;
  width: 28%;
}

#intro-panel-two {
  justify-content: center;
  width: 33%;
}

#intro-panel-three {
  justify-content: flex-start;
  width: 39%;
}


h1.intro {
  font: 12.5rem 'Gorditas';
  font-weight: 700;
  /*color: #37B7B5;*/
  color: #625772;
  margin: 0;
  text-shadow: 8px 8px 0 #64D3CD;
}

.paw { fill: #FAE28C; }

.paw-container {
  position: absolute;
  height: 15%;
}

.paw-container#one {
  bottom: 3%;
  right: 15%;
  transform: rotate(35deg);
}

.paw-container#two {
  bottom: 9%;
  right: 1%;
  transform: rotate(30deg);
}

.paw-container#three {
  bottom: 26%;
  right: 9%;
  transform: rotate(23deg);
}

.paw-container#four {
  bottom: 32%;
  right: -5%;
  transform: rotate(14deg);
}

.paw-container#five {
  bottom: 54%;
  right: 4%;
  transform: rotate(6deg);
}

.paw-container#six {
  bottom: 63%;
  right: -8%;
  transform: rotate(0deg);
}

.paw-container#seven {
  bottom: 79%;
  right: 4%;
  transform: rotate(-6deg);
}

.paw-container#eight {
  bottom: 90%;
  right: -9%;
  transform: rotate(-8deg);
}

svg.paw-svg {
  height: 80%;
  width: 100%;
  margin: 0 auto;
}

svg#intro-heart{
  text-align: center;
  height: 60%;
  width: 90%;
  margin: 0 3% 0 7%;
  /*-webkit-filter: drop-shadow(6px 8px 0 #64D3CD);
  filter: drop-shadow(6px 8px 0 #64D3CD);*/
}

.draw-heart.main:hover { fill: #DCA0BE; }


path.draw-heart, path.draw-pets {
  fill-opacity: 0;
  fill: transparent;
  stroke: #625772;
  /*stroke: #37B7B5;*/
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 13;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  animation-name: draw, fillIn;
  animation-duration: 3s, 3s;
  animation-delay: 0,;
  transition: fill 0.25s linear;
}

path.draw-heart.main {
  /*fill-opacity: 0;*/
  fill: #CD78A3;
}

text#click-me {
  padding-right: 10%;
  padding-top: 12%;
  font: 3rem 'Open Sans Condensed';
  fill: #625772 !important;
  fill-opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: fillIn;
  animation-duration: 3s;
  animation-delay: 2s;
  z-index: 10;
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}


/***********************/
/* INPUT FIELD STYLING */
/***********************/

input[type="text"], textarea {
  background-color: transparent !important;
  border-radius: 0.5rem !important;
  padding: 12px !important;
}

input[type="text"].pet-owner {
  border: 3px solid white !important;
  color: #7EE6DA !important;
}

input[type="text"].pet-owner:focus{ 
  border: 3px solid #7EE6DA !important;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,0.35) !important;
}

input[type="text"].date-select {
  border: 4px solid rgba(0,0,0,0.6) !important;
  color: #CD78A3 !important;
}

input[type="text"].date-select:focus { 
  border: 4px solid #CD78A3 !important;
}

textarea {
  border: 3px solid #CD78A3 !important;
  color: #CD78A3 !important;
}

textarea::-webkit-input-placeholder {
  font-size: 1rem !important;
  color: rgba(205,120,163,0.6) !important;
}

label.white {
  color: white !important;
}

.mint{
  background-color: #7EE6DA !important;
}

.mint-text {
  color: #7EE6DA;
}

p.direction {
  font: 1.5rem 'Open Sans Condensed';
  margin: 0 auto 5px;
}

footer, header {
  position: absolute;
  text-align: center;
  height: 15%;
  width: 100%;
  left: 0;
}

header { 
  top: 0;
  padding-top: 3.75%;
  z-index: 10;
}

footer { bottom: 0; }

.bg-text{
  position: absolute;
  width: 100%;
  top: 16%; 
  text-align: center;
  z-index: 100;
}

#bg-one {
  color: rgba(215,147,181,1);
  font: 11rem 'Fredoka One';
}

#bg-two {
  /*top: 18%;*/
  line-height: 1.2;
  color: rgba(52,183,176,0.9);
  font: 7rem 'Fredoka One';
}

#or {
  font: 5.5rem 'Sacramento';
  line-height: 0.8;
  text-transform: lowercase;
  color: black;
  padding: 0 0 20px 0;
  margin: -31px 5px 0 5px;
}

a.ui.button.selection, h2.ui.button.selection, button.ui.button {
  font-family: 'Fredoka One';
  font-weight: 400;
  line-height: 0.9;
  padding: 30px;
  border: 5px solid;
  border-radius: 0.75rem;
}

a.ui.button.selection {
  margin: 50px auto 0;
  font-size: 4rem;
}

h2.ui.button.selection{
  margin: 75px auto 10px;
  font-size: 5rem;
}

button.ui.button#submit{
  margin: 35px auto 0;
  font-size: 3rem;
}

p.stay-select{
  font-size: 2.5rem;
  color: black;
}


.pet-panel {
  position: relative;
  float: left;
  min-height: 100vh;
  height: auto;
  width: 33.33%;
  transition: background-color 0.5s ease;
}


.pet-panel:hover {
  background-color: rgba(33,171,155,0.85);
}

.pet-panel svg {
  position: absolute;
  height: 55%;
  width: 90%;
  margin: 30% 5% 0;
}

h2.pet-title, h3.pet-title{
  color: rgba(255,255,255,.5);
  position: absolute;
  height: 30%;
  width: 100%;
  top: 70%;
  left: 0;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2.pet-title {
  font-size: 9rem;
}

h3.pet-title {
  font-size: 3.5rem;
  line-height: 1.1;
  width: 90%;
  margin: 0 5%;
}


label {
  font: 1.75rem 'Open Sans Condensed' !important;
  /*line-height: 1.1 !important;*/
  margin-bottom: 10px;
}


label.pet-select > input, label.stay-select > input {
  position: absolute;
  visibility: hidden; 
}

label.pet-select > input + svg, .pet-title, label.stay-select > input + h2.ui.button.stay-select { 
  cursor: pointer;
}

label.pet-select > input:checked + svg {
  stroke-width: 3;
  stroke: white;
}

label.stay-select > input + h2.ui.button.stay-select:hover{
  color: black !important;
}
label.stay-select > input:checked > h2.ui.button.stay-select {
  border-color: black;
  background-color: white;
  color: black;
}

.fancy {
  font: 2.5rem 'Sacramento';
  line-height: 1.1;
  margin-bottom: 10px;
}

a:hover{
  cursor: pointer;
}

.hidden {
  display: none;
}

i.big.remove.circle.icon {
  position: absolute;
  top: 1%;
  right: 0.5%;
  z-index: 3;
}

.posting-image{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

div.comments {
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  border-radius: 0.25rem;
  top: 0;
  padding: 12% 3% 3%;
  text-align: center;
  width: 100%;
  height: 100%;
  font: 2rem 'Open Sans Condensed';
  font-weight: bold;
  color: white;
  z-index: 2;
}

i.circular.large.angle.double.down.icon{
  display: none;
}

.emphasis {
  font-weight: bold;
  color: #CD78A3;
}




@media all and (max-width:1200px) {
  h1.intro { font-size: 9rem;}

}

@media all and (max-width:1000px) {
  h1.intro { font-size: 8rem; }

  .bg-text{
    top: 2%;
  }

  a.ui.button.choice{font-size:3rem;}
}


@media all and (max-width:800px) {
  #intro-bar{
    flex-direction: column;
  }

  h1.intro { 
    font-size: 8rem;
  }

  #intro-panel-one, #intro-panel-two, #intro-panel-three {
    justify-content: center;
    width: 100%;
  }

  #intro-panel-one { 
    align-items: flex-end;
    height: 30%; 
  }
  #intro-panel-two { height: 40%; }
  
  #intro-panel-three { 
    align-items: flex-start;
    height: 30%; 
  }

  .bg-text {
    top: 2%;
    font-size: 7rem;
  }

  #bg-one { font-size: 6rem; }

  #bg-two { 
    font-size: 4.5rem; 
    line-height: 1;
    top: 3%;
  }
  #or { margin: 0; }

  svg#intro-heart {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 17px 0 -10px 0;
    /*padding: 0 15px 0 10px;*/
  }

  a.ui.button.selection, h2.ui.button.selection {
    padding: 20px 30px;
    font-size: 3rem;
    margin: 20px auto;
  }
  .paw-container{
    width: 16%;
  }

  .section-title { font-size: 2rem; }


  .pet-panel {
    position: relative;
    float: left;
    min-height: 33.33vh;
    width: 100%;
  }

  .pet-panel svg{
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  h2.pet-title, h3.pet-title {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  h2.pet-title { font-size: 9rem; }
  h3.pet-title { font-size: 3.5rem; margin: 0 auto; }
 

}


@media all and (max-width:630px) {
  h1.intro { font-size: 7rem; }
  
  .bg-text{
    top: 1%;
    font-size: 6rem;
  }
  h2.section-title {font-size: 1.5rem; margin: 5px auto 15px;}

  #bg-two { 
    font-size: 3rem; 
    line-height: 0.9;
    top: 2.75%;
  }
  p.stay-select { font-size: 2.1rem; }

  a.ui.button.selection, h2.ui.button.selection {
    padding: 20px 30px;
    font-size: 2.6rem;
    margin: 10px auto;
  }
  
  .fancy { font-size: 1.6rem; margin-bottom: 0; }
  
  label { font-size: 1.4rem !important; line-height: 1.1 !important; }

  p.direction { 
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 1% 
  }

  i.circular.large.angle.double.down.icon { display: inline-block; }
  
  i.circular.big.angle.double.down.icon { display: none; }
  
  footer { 
    height: 9%;
    text-align: right; 
    padding-right: 2%; 
  }

}






